
body {
    background-color: white;
    background-image: url(https://res.cloudinary.com/dtjjgiitl/image/upload/q_auto:good,f_auto,fl_progressive/v1752262362/b70hp38kpyprgx6mb028.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
h1 {
    font-size: 70px;
    height: 60px;
    text-align: center;
    color: white;
    text-shadow: rgb(0, 0, 234) 5px 7px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(114, 2, 184, 0.773);
    border: 12px dashed rgb(9, 11, 78);
    height: 480px;
    width: 700px;
    margin: 15px auto;
    padding: 25px;
}



p {
    font-size: 25px;
    line-height: 1.5;
    
}


#guessBar {
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 50px;
    width: 70px;
    border: 3px solid black;
    font-size: 25px;
    text-align: center;
}
#numMassage {
    color: rgb(192, 190, 190);
}

.attempts {
    background-color: white;
    height: 110px;
    width: 100px;
    position: relative;
    top: -70px;

    
}
.attempts p{
    font-size: 20px;
    color: black;
}
.attempts h2 {
    padding: 0px;
    font-size: 25px;
    color: black;
}
.container button {
    background-color: red;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 80px;
    font-size: 20px;

}

video {
    position: fixed;
    left: 200px;
    top: 622px;
}
